* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
    color: blue
}

li {
    list-style: none;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* common css end */

/* navbar part start */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 20px;
    text-transform:uppercase;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.nav_logo {
    display: flex;
    align-items: center;
}

.nav_title {
    margin-left: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
}


/* navbar part end */